<div class="row">
    
  <div class="side-intro">
    <div class="header-image"></div>
    <section class="mat-typography">
      <h1>Lucas Fernandes Rodrigues</h1>
      <h3>Tech leader - Senior Developer</h3>

      <div class="contact-side-intro">
        <button mat-fab color="primary">
          <i class="fas fa-envelope fa-2x"></i>
        </button>
        <!-- <h4> lfrodrigues@programmer.net</h4> -->
        <button mat-fab color="primary" (click)="openLinkedIn()">
          <i class="fab fa-linkedin fa-2x"></i>
        </button>

        
    
        <!-- <h4>https://www.linkedin.com/in/lucasrodriguess/</h4> -->

        <!-- <span class="skype-button bubble " data-contact-id="@lusk.rs" data-text="Contact me "></span>
        <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script> -->
        <!-- <button mat-fab color="primary">
              <i class="fab fa-skype fa-2x"></i>
            </button> -->
        <!-- <h4>@lusk.rs</h4> -->
      </div>

    </section>
  </div>
  <div class="content-intro">
    <!-- <div class="filter"></div> -->
    <div class="back-intro">
    </div>
  </div>
</div>