<div class="row">

  <div class="side-intro">
    <div class="header-image"></div>
    <section class="mat-typography">
      <h1>Lucas Fernandes Rodrigues</h1>
      <h3>I am an IT professional. Focused on knowledge, 
        personnel and technical developments. 
        I am passionate about technology and always learn new languages, 
        patterns and technical of programming.</h3>

      <div class="contact-side-intro">
        <button mat-fab color="primary">
          <i class="fas fa-envelope fa-2x"></i>
        </button>
        <!-- <h4> lfrodrigues@programmer.net</h4> -->
        <button mat-fab color="primary" (click)="openLinkedIn()">
          <i class="fab fa-linkedin fa-2x"></i>
        </button>

        <button mat-fab color="primary" class="mobile">
            <i class="fas fa-mobile-alt fa-2x"></i>
        </button>

        <button mat-fab color="primary" (click)="openGitHub()">
            <i class="fab fa-github-square fa-2x"></i>
        </button>

      </div>

    </section>
  </div>
  <div class="content-intro">
    <!-- <div class="filter"></div> -->
    <div class="back-intro">
    </div>
  </div>
</div>